.mat-page {
  background: #0b1220;
  min-height: 100vh;
  padding-bottom: 60px;
  color: white;
}

/* HERO */
.mat-hero {
  position: relative;
  height: 260px;
  width: 100%;
  overflow: hidden;
}

.mat-hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.55;
}

.mat-hero-overlay {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.mat-hero-overlay h1 {
  font-size: 38px;
  font-weight: 900;
  color: #10b981;
}

.mat-hero-overlay p {
  max-width: 700px;
  margin-top: 15px;
  font-size: 18px;
  color: #cbd5e1;
}

/* CONTEÚDO */
.mat-conteudo {
  max-width: 1100px;
  margin: 40px auto;
  padding: 0 20px;
}

/* SEÇÕES */
.mat-section {
  margin-bottom: 50px;
}

.mat-section h2 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 30px;
  color: white;
}

/* GRID DE CONTEÚDOS */
.mat-section ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 0;
}

/* CARD */
.mat-section ul li {
  background: #111a2d;
  border: 2px solid #10b981;
  padding: 20px;
  border-radius: 12px;
  font-size: 16px;
  color: #cbd5e1;
  transition:
    transform 0.3s,
    box-shadow 0.3s;
}

.mat-section ul li:hover {
  transform: scale(1.04);
  box-shadow: 0px 0px 12px #10b98188;
}

/* EXERCÍCIOS */
.mat-desc {
  text-align: center;
  max-width: 600px;
  margin: 0 auto 20px;
  color: #cbd5e1;
  font-size: 18px;
}

/* BOTÃO */
.mat-btn {
  display: block;
  margin: 0 auto;
  background: #10b981;
  color: #0b1220;
  border: none;
  padding: 14px 28px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  transition: 0.2s;
}

.mat-btn:hover {
  background: white;
  color: #10b981;
}

/* VÍDEOS */
.mat-videos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.video-card {
  background: #111a2d;
  height: 150px;
  border-radius: 12px;
  border: 2px solid #10b981;
  opacity: 0.6;
  transition:
    transform 0.3s,
    box-shadow 0.3s;
}

.video-card:hover {
  transform: scale(1.04);
  box-shadow: 0px 0px 12px #10b98188;
}
