/* Página base */
.port-page {
  background: #0b1220;
  min-height: 100vh;
  padding-bottom: 60px;
  color: white;
}

/* Cabeçalho */
.port-header {
  text-align: center;
  padding: 40px 20px;
}

.port-header h1 {
  font-size: 36px;
  font-weight: 900;
  color: #10b981;
}

.port-header p {
  max-width: 700px;
  margin: 20px auto;
  color: #cbd5e1;
  font-size: 18px;
}

/* TÍTULO DAS SESSÕES */
.section-title {
  text-align: center;
  font-size: 28px;
  margin-top: 40px;
  color: white;
}

/* Grid de módulos */

.modulos-grid {
  max-width: 1100px;
  margin: 30px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 20px;
  padding: 20px;
}

/* Card */
.modulo-card {
  background: #111a2d;
  border: 2px solid #1013b9;
  padding: 20px;
  border-radius: 12px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.modulo-card h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #1b10b9;
}

.modulo-card p {
  color: #cbd5e1;
}

/* Hover dos cards */
.modulo-card:hover {
  transform: scale(1.04);
  box-shadow: 0px 0px 12px #10b98188;
}

/* Botão final */
.port-btn-area {
  text-align: center;
  margin-top: 40px;
}

.btn-estudar {
  background: #10b981;
  color: #0b1220;
  border: none;
  padding: 14px 28px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  transition: 0.2s;
}

.btn-estudar:hover {
  background: white;
  color: #10b981;
}
