.mini-pomo {
  position: sticky;
  top: 15px;
  left: 20px;
  background: #111;
  color: white;
  border: 2px solid #22c55e;
  padding: 8px 14px;
  border-radius: 10px;
  display: table;
  gap: 8px;
  align-items: center;
  font-size: 16px;
  z-index: 9999;
  cursor: pointer;
  transition: 0.2s;
}

.mini-pomo:hover {
  background: #1a1a1a;
}

.mini-timer {
  font-weight: bold;
  color: #22c55e;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.on {
  background: #22c55e;
}

.off {
  background: #555;
}
